<!-- <form [formGroup]="form" (ngSubmit)="submit(model)">
    <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
    <button type="submit" class="btn btn-default">Submit</button>
</form> -->
<ng-simple-alert_p></ng-simple-alert_p>

<button class="success" (click)="createSuccessMessage()">
  Create success alert
</button>
<button class="danger" (click)="createDangerMessage()">
  Create danger alert
</button>
<button class="warning" (click)="createWarningMessage()">
  Create warning alert
</button>
<button class="info" (click)="createInfoMessage()">
  Create info alert
</button>